<div class="container">
  <form #myForm="ngForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailhelp" [(ngModel)]="userObj.email">
     </div>
     <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">full name</label>
      <input type="email" class="form-control" name="name" aria-describedby="emailhelp" [(ngModel)]="userObj.name">
     </div>
     <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">mobile number</label>
      <input type="email" class="form-control" name="mobile" aria-describedby="emailhelp"  [(ngModel)]="userObj.mobile">
     </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" aria-describedby="emailhelp"  [(ngModel)]="userObj.password">
    </div>
    
    <button type="button" class="btn btn-primary" (click)="adduser(myForm.value)" *ngIf= "!isEdit"> Submit</button>
    <button type="button" class="btn btn-info"  *ngIf= "isEdit" (click)="updateUser()" >Update</button> 
  </form>
  <br>
  <table class="table">
    <thead>
      <tr>
  
        <th scope="col">Full name</th>
        <th scope="col">mobile</th>
        <th scope="col">Email</th>
        <th scope="col">password</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let user of eachUser">
       <td>{{user.name}}</td>
       <td>{{user.mobile}}</td>
       <td>{{user.email}}</td>
       <td>{{user.password}}</td>
       <td><button (click)="editUser(user)" class="btn btn-warning">Edit</button></td>
       <td><button (click)="deleteUser(user)" class="btn btn-danger">delete</button></td>
        

     </tr>
    </tbody>
  </table>
</div>